[alias]
	branches = branch -v
	current-release = "!f() { git branch | grep release; }; f"
	desc = describe --all
	diffs = diff --stat
	ff = merge --ff-only
	hash = rev-parse --short
	hashme = rev-parse --short HEAD 
	hashup = rev-parse --short @{u}
	myupstream = rev-parse --symbolic-full-name @{u}
	newbranch = checkout -b
	pushme = push origin HEAD
	shows = show --stat
	slog = log --pretty=format:\"%ad %h > %an > %s\" --date=short --reverse --no-merges
	stat = status -bs
	submit = "!f() { if [[ $1 == "develop" ]] || [[ $1 == "release/*" ]] || [[ $1 == "master" ]]; then git push origin HEAD:refs/for/$1; else echo "Usage: git cr branch, where branch=develop or release/X.Y"; fi; }; f"
	subup = submodule update --init --recursive
	superfetch = fetch --recurse-submodules
	wdiff = diff --color-words
	whatsnew =log --pretty=format:\"%ad %h > %an > %s\" --date=short --reverse --no-merges @{u}..HEAD
	whatsup = log --pretty=format:\"%ad %h > %an > %s\" --date=short --reverse --no-merges HEAD..@{u}
	whatsup-develop = log --pretty=format:\"%ad %h > %an > %s\" --date=short --reverse --no-merges HEAD..origin/develop
	whereis = name-rev --name-only
	wshow = show --color-words

[color]
	ui = true
[core]
	editor = subl --new-window --wait
	excludesfile = /Users/alexc/.gitignore_global
	pager = less -FRSX
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[merge]
	defaultToUpstream = true
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Alexander Carter
	email = alexc@sigfig.com
[push]
	default = simple
